@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Scripture Journal</h1>
    <p>Read, Study, Ponder and Retain by making Notes!!</p>
    <div>
        <img src="https://mormonbible.org/files/2011/12/mormon-bible-book.jpg" alt="book of mormon and bible">
    </div>
</div>
